{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CNNW - Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9542326f7c.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body> 
    <div class="container-fluid">
      <div class="col-md-1 coluna">
        <div class="row">
           <img src="{% static "logo.png" %}" alt="CNNW logo" id="logo"> 
        </div>
        <div class="row">
          <a href="../search/" id="menu" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Busca por empresas e pessoas">
            <i class="fa fa-search fa-2x" id="iconmenu" aria-hidden="true"></i>
          </a>
        </div>
        <div class="row">
         <a id="menu" class="btn btn-primary disabled">
            <i class="fa fa-dashboard fa-2x" id="iconmenu" aria-hidden="true"></i>
          </a>
        </div>
        <div class="row">
          <a href="../config/" id="menu" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Configure palavras-chave para busca">
            <i class="fa fa-gear fa-2x" id="iconmenu" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 coluna">
        <div class="input-group input-group-lg" id="pesquisarentidade">
          <input type="text" class="form-control" disabled placeholder="Digite a empresa ou pessoa a ser buscada ...">
          <span class="input-group-btn">
            <button class="btn btn-default disabled" type="button">Pesquisar!</button>
          </span>
        </div>

        <h3>{{searchedWord}} {{searchedTime}}</h3>

        <ul class="list-group">
          {% for new in news %}
            <li class="list-group-item">
              <a href="{{url}}" target="_blank">{{new.title}} - {{new.domain}}</a><br>
              <a href="http://{{new.domain}}" target="_blank" class="text-success">{{new.domain}}</a>
              <h6>{{new.body}}</h6>
              <h6 class="dateNews">Notícia de {{new.date}} e classificada com risco 

                {% if new.risk == "Alto" %}
                  <span class="label label-danger"> Alto </span> 
                {% elif new.risk == "Medio" %}
                  <span class="label label-warning"> Médio </span> 
                {% else %}
                  <span class="label label-success"> Baixo </span> 
                {% endif %}
              </h6>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-5 coluna">
        <div id="fontes">
        <h4>Fontes</h4>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button class="btn btn-default" type="button"> Google <span class="badge">13</span> </button> <button class="btn btn-default" type="button"> Bing <span class="badge">15</span> </button> <button class="btn btn-default" type="button"> G1 <span class="badge">4</span> </button> </div>
        <h4>Termos buscados</h4>
        <h5><span class="label label-warning">{{searchedWord}}</span></h5>

        <h4>Categorias</h4>
        <h5><span class="label label-default">{{searchedCategory}}</span> </h5>

        <h4>Palavra-chave</h4>
        <h5><span class="label label-default">{{searchedTag}}</span> </h5>
        <hr>
        <button class="btn btn-primary btn-sm" type="button"> Relatório </button> 
      </div>
      </div>
    </div>
  </body>
</html>