body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ccc;
  background-image: url("1.jpeg");
  background-size: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-heading{
  color: #296191;
  text-align: center;
}
.container{
  background-color: rgba(0,0,0,0.6);
  max-width: 380px;
  padding-bottom: 35px;
}

.formReset{
  text-align: center;
}

.buttonReset{
  color: #999;
}